/* Stylesheet for Healthcare Watch
Marisa Ozbat - 2026 */

/* ===RESET STYLESHEET=== */
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* ===FONTS=== */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

@font-face {
    font-family: "Georama";
    src:url(../fonts/Georama/static/Georama-Bold.ttf);
    font-weight:700;
}

.parkinsans-semi-bold {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.parkinsans-regular {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ===VARIABLES=== */
:root {
    --gradient:linear-gradient(90deg,#0B5E4A, #0D5A62 50%, #0E577A 75%, #114FAA);
    --peacock-green:#0B5E4A;
    --ocean-blue:#114FAA;
    --visited-lnk:#4b4a4a;
    --fs-heading2:clamp(1.500rem, calc(1.318rem + 0.909vw), 2.000rem);
    --fs-nav:clamp(1.000rem, calc(0.636rem + 1.818vw), 2.000rem);
    --fs-label:clamp(1.125rem, calc(1.049rem + 0.38vw), 1.500rem);
    --transparent-clr-50:hsla(0, 0%, 100%, 0.5);
    --transparent-clr-30:hsla(0, 0%, 100%, 0.3);
    --transparent-clr-15:hsla(0, 0%, 100%, 0.15);
    --input-focus-clr:#e4eefd;
    --white:white;
    --black:black;
}

/* ===HEADINGS=== */
h1 {
    font-family: "Georama", sans-serif; 
    font-size:clamp(2.375rem, calc(2.250rem + 0.625vw), 3.000rem);
    text-align:center;
    padding:5rem;
    white-space:nowrap;
}

h2 {
    font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size:var(--fs-heading2);
}

header {
    background:var(--gradient);
    color:var(--white);
}

header a {
    color:var(--white);
    text-decoration:none;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size:var(--fs-nav);
}

/* ===NAV=== */

nav ul {
    list-style-type:none;
}

ul.nav-wrapper {  /* Nav grid */
    display:grid;
    grid-template-columns:repeat(5, auto) 1fr repeat(3, auto);
    min-height:8rem;
    padding:2rem 1rem 0 1rem;
    gap:1.75rem;
    width:100%;
    position:fixed;
    background:var(--gradient);
    z-index:999;
}

li.search-bar {
    transform:translateY(15%);
} 

a.hover-glow {
    transition: text-shadow 1s ease;
}

a.hover-glow:hover {
    text-shadow:var(--transparent-clr-50) 0 0 5px,
                var(--transparent-clr-50) 0 0 10px,
                var(--transparent-clr-50) 0 0 20px;
} 
/* Mobile Menu Styles */
.bar {
    display:block;
    width:3rem;
    height:0.25rem;
    margin:8px 0;
    border-radius:3px;
    transition: all 0.3s ease;
    background-color:var(--white); 
}

/* ===Search=== */
.search-btn {
    background:none;
    border:none;
    font-size:1.5rem;
    position:absolute;
    right:-30px;
    top:50%;
    transform:translateY(-50%);
    width:2vw;
}

.search-form {
    position:relative;
    border:1.5px solid white;
    background:transparent;
    border-radius:50px;
    overflow:hidden;
    height:5vh;
    width:20vw;
    bottom:5%;
}
.search-input {
    width:100%;
    background:transparent;
    border-radius:50px;
    height:5vh;
    color:var(--white);
    border:none;
}
.search-input:focus {
    border:2px solid var(--transparent-clr-30);
    background-color:var(--transparent-clr-15);
}
/* ===BODY=== */
body {
    font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:1rem;
  line-height:1.8; 
}

/* ===MAIN=== */

/* home page */
main {
    padding-top:8rem;
}
aside {
    display:none;
}
img.cost-graphic {
    display:none;
}

main a {
    color:black;
    text-decoration:none;
}

main a:hover {
    text-decoration:underline;
}


/* ===OPENING BLOG AND ASIDE FLEXBOX=== */
div.home-blog-aside {
    display:flex;
    flex-direction:row;
}

.blog1 {
    min-width:50%;
    max-width:30rem;
    padding-left:2rem;
    padding-right:2rem;
}

.blog-img1 {
    margin-left:5rem;
} 

.blog-img2 {
    float:left;
    margin-right:1rem;
} 

.blog2 {
    max-width:68%;
    margin-left:8rem;
    padding-left:2rem;
    padding-right:2rem;
    transform:translateY(-40%);
    margin-top:10rem;
}

aside a:visited {
    color:var(--visited-lnk);
} 

aside a {
    transition:font-size 0.1s ease;
}

aside a:active {
    font-size:1.1rem;
}

.button,
button {
    background:var(--gradient);
    color:white;
    text-decoration:none;
    padding:6% 20%;
    border-radius: 10rem;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size:var(--fs-heading2);
    text-align:center;
    display:block;
    transition: text-shadow 1s ease, transform 0.1s ease;
}

.button:hover,
button:hover {
    text-decoration:none;
    text-shadow:var(--transparent-clr-50) 0 0 5px,
                var(--transparent-clr-50) 0 0 10px,
                var(--transparent-clr-50) 0 0 20px;
}
.button:active {
    transform:scale(1.0125);
}

.nav-wrapper li {
    transition:transform .3s ease;
}

.nav-wrapper li:active {
    transform:scale(1.0125);
}


button.subscribe-button {
    margin:5rem auto; 
    padding: 3% 10%; 
    transform:translateY(80%);
    border:none;
    transition:font-size 0.1s ease;
}

.subscribe-button:active {
    font-size:2.2rem;
}

.subscribe-button-div {
    display:flex;
}
div.subscribe-button {
    margin:10rem;
}

button.read-more:visited {
    color:var(--visited-lnk);
}

button.read-more:active {
    font-size:1.125rem;
}
span.more {
    display:none;
}

button.read-more {
    background:none;
    border:none;
    outline:none;
    color:var(--black);
    text-decoration:none;
    position:relative;
    padding-left:2rem;
    transition: 0.3s ease-in;
    font-weight:600;
    font-size:1rem;
    cursor:pointer;
}   

button.read-more::before {
    content:"";
    background-image:url(../images/arrow-marker.svg);
    background-size:cover;
    background-repeat:no-repeat;
    position:absolute;
    transform:translateY(-50%);
    height:2rem;
    width:2rem;
    top:50%;
    left:-0.5rem;
}

button.read-more:hover {
  text-decoration:underline;
}
/* ===CARD-homepage FLEXBOX=== */
div.card-wrapper {
    display:flex;
    gap:3rem;
    width:100%;
    justify-content:center;
    padding:8rem;
    min-height:25rem;
    flex-direction:column;
    align-items:center; 
    
}

/* ===GRID WITHIN EACH CARD=== */
article.card {
    border:2px solid var(--ocean-blue); 
    border-radius:10px;
    width:clamp(18.750rem, calc(14.205rem + 22.727vw), 31.250rem);
    height:25rem;
    padding:2rem;
    align-content:center;
    justify-content:center;
    display:grid;
    grid-template-columns:1fr 2fr 1fr 1fr;
    grid-template-rows:1fr 2fr 1fr;
    flex:1 1 auto;
    margin-top:5rem;
} 

.button {
    grid-column: 2 / 4;
    grid-row:3 / 4; 
}

article.card p {
    padding-top:2rem;
    grid-column:span 4;
}

h2.news-h2 {
    padding-top:5%;
}

img.newspaper-icon {
    transform:translate(-10%, -10%);
}

/* ===IMAGES=== */
img {
    display:block;
}

.rounded-corners {
    border-radius:15px;
}

div.back-to-top { /* back to top Flexbox */
    display:flex;
    justify-content:flex-end;
    position:sticky;
    bottom:20px;
    margin-right:0.5rem;
    z-index:999;
}
#arrow-icon {
    transition:transform 0.1s ease;
}

#arrow-icon:active {
    transform:scale(1.05);
}


/* ===LOG IN/SIGN UP FORM=== */
div.form-tabs {
    display:flex;
    justify-content:center;
    width:100%;
}
div.form-container {
    display:block;
    margin:auto;
    width:50%;
    margin-bottom:10rem;
}

button.login, /* tabs at the top */
button.signup {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-right-radius:4rem;
    border-top-left-radius:4rem;
    border:none;
    outline:none;
    padding:2% 8%;
    width:100%;
    cursor:pointer;
    font-size:1.75;
    transition:font-size 0.1s ease, text-shadow 1s ease;
}

button.login:active,
button.signup:active {
    font-size:1.80rem;
}

button.login:hover,
button.signup:hover {
    text-shadow:var(--transparent-clr-50) 0 0 5px,
                var(--transparent-clr-50) 0 0 10px,
                var(--transparent-clr-50) 0 0 20px;
}

button.signup {
    background:transparent;
    color:var(--black);
    border-top:2px solid var(--ocean-blue);
    border-right:2px solid var(--ocean-blue);
    border-left:2px solid var(--ocean-blue);
}

#log-in-form {
    background:var(--gradient);
    color:var(--white);
    padding:3rem;
    border-bottom-right-radius:4rem;
    border-bottom-left-radius:4rem;
}

#log-in-form input {
    width:100%;
    padding:1rem;
    border-radius:0.5rem;
    border:none;
    transition:transform 0.5s ease;
}

#log-in-form input:active {
    transform:scale(1.0125);
}

#log-in-form input:focus {
    background-color:var(--input-focus-clr);
}

#sign-up-form {
    background:var(--white);
    border-right:2px solid var(--ocean-blue);
    border-left:2px solid var(--ocean-blue);
    border-bottom:2px solid var(--ocean-blue);
    border-bottom-right-radius:4rem;
    border-bottom-left-radius:4rem;
    padding:3rem;
}

#sign-up-form input {
    width:100%;
    padding:1rem;
    border:2px solid var(--ocean-blue);
    border-radius:0.5rem;
    transition:transform 0.5s ease;
}

#sign-up-form input:active {
    transform:scale(1.0125);
}


#sign-up-form input:focus {
    background-color:var(--input-focus-clr);
}
div.form-content {
    display:none;
}

div.form-content.active {
    display:block;
}

label {
    display:block;
    font-size:var(--fs-label);
}

button.submit-btn {
    padding:2% 10%;
    border:1px solid var(--white);
    outline:none;
    margin:2rem auto 0 auto;
    transition:transform 0.1s ease, text-shadow 1s ease;
}

button.submit-btn:hover {
    text-shadow:var(--transparent-clr-50) 0 0 5px,
                var(--transparent-clr-50) 0 0 10px,
                var(--transparent-clr-50) 0 0 20px;
}

button.submit-btn:active {
    transform:scale(1.0125);
}

/* ===About Us=== */
div.about-wrapper {
    display:flex;
    flex-flow:column nowrap;
    width:100%;
}

img.about-img {
    width:90%;
    margin:auto;
}

h2.h2-center {
    text-align:center;
    padding:2rem 0;
}

div.about-text {
    padding:3rem;
    margin:0 auto 2rem auto;
    flex:auto;
}

/* ===Contact Page=== */
#contact-form {
    width:50%;
    display:block;
    margin:auto;
    border:2px solid var(--ocean-blue);
    padding:2rem;
    border-radius:1rem;
    margin-bottom:5rem;
}

#contact-form input,
#contact-form textarea {
    width:100%;
    padding:1rem;
    border:2px solid var(--ocean-blue);
    border-radius:0.5rem;
    transition:transform 0.5s ease;
}

#contact-form input:focus,
#contact-form textarea:focus {
    background-color:var(--input-focus-clr);
}

#contact-form input:active,
#contact-form textarea:active {
    transform:scale(1.0125);
}

div.contact-info {
    font-weight:600;
    width:35%;
    border:2px solid var(--ocean-blue);
    margin:0 auto 8rem auto;
    text-align:center;
    border-radius:1rem;
    padding:2rem;
}

div.contact-info hr {
    width:70%;
    height:1px;
    margin:1rem auto;
    border:0;
    border-top:1px solid var(--ocean-blue);
}

/* ===Analysis Page=== */
div.analysis-wrapper {
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:1fr 1fr;
    justify-content:center;
    align-items:center;
    padding:0 15% 15%;
    gap:1rem;
}

.overlay-h2 {
    color:var(--white);
    font-size:var(--fs-label);
    text-align:center;
}

article.analysis-btn h2 {
    position:absolute;
}

article.analysis-btn {
    position:relative;
    cursor:pointer;
    width:100%;
    height:auto;
    display:inline-block;
}

.studies-btn h2 {
    top: 50%;          
    left: 50%;         
    transform: translate(-50%, -50%); /* Keeps it in the proper place when screen size shifts */
}

.int-systems-btn h2 {
    top: 50%;          
    left: 50%;        
    transform: translate(-50%, -50%); /* Keeps it in the proper place when screen size shifts */
}

.testimonials-btn h2 {
    top: 50%;          
    left: 50%;         
    transform: translate(-50%, -50%); /* Keeps it in the proper place when screen size shifts */
}

.types-btn h2 {
    top: 50%;          
    left: 50%;         
    transform: translate(-50%, -50%); /* Keeps it in the proper place when screen size shifts */
}

/* ===---News Page---=== */
div.news-wrapper {
    display:flex;
    align-items:center;
    flex-direction:column;
    gap:2rem;
    padding-bottom:20%;
    width:75%;
    margin:auto;
}

article.news-btn {
    position:relative;
    cursor:pointer;
    width:30rem;
    height:auto;
    margin:auto;
}

article.news-btn h2 {
    position:absolute;
} 

.current-events-btn h2 {
    top: 50%;          
    left: 40%;         
    transform: translate(-50%, -50%); /* Keeps it in the proper place when screen size shifts */
}

.petitions-btn h2 {
    top: 50%;          
    left: 40%;         
    transform: translate(-50%, -50%); /* Keeps it in the proper place when screen size shifts */
}

.polls-btn h2 {
    top: 50%;          
    left: 40%;         
    transform:translate(-50%, -50%); /* Keeps it in the proper place when screen size shifts */
}

/* ===---Footer---=== */
footer {
    background:var(--gradient);
    color:white;
}

.footer-semi-bold {
    color:white;
    text-decoration:none;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size:1rem;
}

.footer-regular {
    color:white;
    text-decoration:none;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:0.875rem;;
}

footer a:hover {
    text-decoration:underline;
}

footer a {
    transition:font-size 0.1 ease;
}

footer a:active {
    font-size:1rem;
}

.footer-links-col1 a {
    transition:font-size 0.1s ease;
}

.footer-links-col1 a:active {
    font-size:1.2rem;
}
address {
    display:none;
}

div.footer-links { /* Grid for footer links */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
    grid-template-rows: 10rem;
}

div.footer-logo {
    align-self:center;
    justify-self:center;
    list-style:none;
    transition:transform 0.1s ease;
}

div.footer-logo:active {
    transform:scale(1.05);
}

 .footer-icon {
        transition:transform 0.1s ease;
}

.footer-icon:active {
        transform:scale(1.05);
}

ul.footer-links-col1,
ul.footer-links-col2,
ul.footer-links-col3 {
    margin-top:3rem;
    list-style:none;
}

div.footer-flex { /* Flexbox for Socials */
    display:flex;
    align-items:center;
    justify-content:space-around;
    max-width:20rem;
    margin-left:auto;
}

div.twitter,
div.substack {
    transform:translateX(-25%);
}


/*===================
    Desktop Styles
=====================*/
@media (min-width:1440px) {
 
    .mobile-nav-item {
        display:none;
    }
    aside {
        display:block;
        font-family: "Parkinsans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size:1rem;
    }
    ul.aside-list {
        list-style-type:none;
        padding:0 0 0 10%;
    }
    ul.aside-list li {
        border:2px solid var(--ocean-blue); 
        margin-bottom:2rem; 
        padding:8%;
        border-radius:1.25rem;
        width:20vw;
        position:relative;    
    }
    ul.aside-list li::before {
        content:"";
        background-image:url(../images/arrow-marker.svg);
        background-size:cover;
        background-repeat:no-repeat;
        position:absolute;
        left:2rem;
        top:50%;
        transform:translateY(-50%);
        height:2rem;
        width:2rem;
    }
    ul.aside-list a {
        margin-left:3rem;
    } 
    div.card-wrapper {
        flex-direction:row;
    }
    img.cost-graphic {
        display:block;
        margin:3rem auto;
    }
    address {
        display:block;
        font-style:normal;
        line-height:2;
        font-size:0.875rem;
        text-align:right;
    }
    #hamburger {
        display:none;
    }
    div.about-wrapper {
        flex-direction:row;
        align-items:center;
        margin-bottom:3%;
    }
    div.about-wrapper p {
        width:70%;
        margin:auto;
    }
    img.about-img {
        width:120%;
        margin:auto 5rem;
    }
    div.about-text {
        justify-self:flex-end;
        margin-left:3rem;
        margin-top:0;
        padding:5%;
    }
    div.news-wrapper {
        flex-direction:row;
        padding-bottom:10%;
    }
}

/*===================
    Mobile Styles
=====================*/
@media screen and (max-width:1439px) {

    .blog1 {
        min-width:100%;
    }
    .blog-img1 {
        width:95%;
        margin:auto;
    }
    .blog2 p {
        clear:both;
        overflow-y:auto;
    } 
    .blog2 {
        min-width:100%;
        transform:translateY(0%);
        margin:0;
    }
    .blog-img2 {
        width:100%;
    }
    .subscribe-button {
        transform:translateY(0%);
    }
    .blog1 p {
    overflow-y:auto;
    }
    div.home-blog-aside {
        flex-direction:column;
    }
    /* footer */
    div.footer-links {
        grid-template-columns:33.33% 33.33% 33.33%;
        grid-template-rows:33.33% 33.33% 33.33%;
        align-items:start;
    }
    div.footer-logo {
        grid-area: 0 / 1 / 2 / 3;
    }
    ul.footer-links-col1 {
        grid-area: 2 / 1 / 3 / 2;
        margin-left:2rem;
    }
    ul.footer-links-col2 {
        grid-area: 2 / 2 / 3 / 3;
    }
    ul.footer-links-col3 {
        grid-area:2 / 3 / 3 / 4;
    }
    div.footer-flex {
        margin:5rem auto 0 auto;
    }
    /* nav */
    .desktop {
        display:none;
    }
    nav ul.nav-wrapper {
        position:fixed;
        text-align:right;
        left:-100%;
        top: 5rem;
        background-color:var(--gradient);
        z-index:999;
    }
    nav {
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        min-height:5rem;
        width:100%;
        position:fixed;
        background:var(--gradient); 
        z-index:999;
    }
    #search-mobile {
        place-self:center end;
    }
    #avatar {
        place-self:center start;
    }
    #mobile-logo {
        align-self:center;
    } 
    .search-form {
        width:40vw;
        align-self:center;
    }
    .search-btn {
        right:-10px;
    }
    .mobile-nav-item {
        transition:transform 0.1s ease;
    }
    .mobile-nav-item:active {
        transform:scale(1.05);
    }
    #hamburger {
        display:block;
        place-self:center center;
        transform:translateX(10px);
        cursor:pointer;
    }
    .hamburger.active #bar2 {
        opacity:0;
    }
    .hamburger.active #bar1 {
        transform:translateY(12px) rotate(30deg); 
    }
    .hamburger.active #bar3 {
        transform:translateY(-12px) rotate(-30deg);
    } 
    .nav-wrapper.active {
        left:0;
        display:block;
    }
    div.form-container {
        width:75%;
    }
    button.submit-btn {
        padding:4% 20%;
    }
    #contact-form {
        width:80%;
    }
    div.contact-info {
        width:60%;
    }
}

/*====================================
    Tablet-Breakpoints for transitions
=====================================*/
@media screen and (max-width:768px) {
    article.card {
        width:80vw;
    }
} 